{% extends "base.html" %}
{% block bodyclass %}
block_page
{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<h1>Travaux de <em>{{ owner }}</em></h1>
<h>Remarque: Seul les travaux de l'année courante sont affichés.</h>

<p>
    <form action="" method="get">
        {{ filter.form|crispy}}
    <button type="submit" class="btn btn-default">Filtrer</button>
</form>
</p>

<p>
<table>
    <tr>
        <th>No</th>
        <th>Date</th>
        <th>Type</th>
        <th>Titre</th>
        <th>Duree</th>
    </tr>
{% for a in filter.qs %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ a.datefr }}</td>
        <td>{{ a.get_type_display }}
        <td>{{ a.titre }}</td>
        <td>{{ a.temps}}</td>
    </tr>
{% endfor %}
    <tr>
        <th colspan="4">Total</th>
        <td> {{ temps_total }}</td>
    </tr>
    <tr>
        <th colspan="2">Salaire horaire:</th>
        <td> {{ salaire_horaire }}</td>
        <th>Salaire total:</th>
        <td> {{ salaire|floatformat }}</td>
    </tr>
</table>
</p>
{% endblock %}

