{% extends "base.html" %}
{% block bodyclass %}
block_page
{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<p>
    <form action="" method="get">
        {{ filter.form|crispy}}
    <input type="submit" />
</form>
</p>

<p>
<table>
    <tr>
        <th>No</th><th>Titre</th><th>Date</th><th>Duree</th>
    </tr>
{% for a in filter.qs %}
    <tr>
        <td>{{ forloop.counter }}</td><td>{{ a.titre }}</td> <td>{{ a.date|date:"d/m/Y" }}</td> <td>{{ a.temps}}</td>
    </tr>
{% endfor %}
    <tr>
        <th colspan="3">Total</th>
        <td> {{ temps_total }}</td>
    </tr>
</table>
</p>
{% endblock %}

