* {
	font-family: Verdana, sans-serif;
}

.block_page {
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 0px 15px 15px 25px;
   background-color: blanchedalmond;
 }

#footer {
   display: flex;
   justify-content: center;
}


h1 {
	font-size: 2.0em;
    text-align: left;
    padding: 5px 0px 5px 5px;
    background-color: rgb(121, 174, 200);
}

nav {
    font-size: 1.5em;

}

#footer {
   font-size: 1.5em;
}

table th, td, tr {
    border: 0.5px solid black;
    border-collapse: collapse;
}

table th {
    background-color: #79AEC8;
    text-align: center;
    padding: 5px;
}

table td {
    padding: 2px;
    padding-left: 5px;
}




/* body
{

    background-color: blanchedalmond;
    margin: 15px 0px 0px 15px;
    opacity: 1.0;
}
*/
