{% extends "base.html" %}
{% block bodyclass %}
block_page
{% endblock %}

{% block content %}
<h1>Saisie des heures</h1>
<p>
Vous pouvez saisir vos heures pour la <strong>conciergerie</strong>
ou <strong>AirBnB</strong>.
</p>

<nav>
    <ul>
    <li> <a href="conciergerie/list">Liste des travaux</a></li>
    <li> <a href="conciergerie/createtv">Ajouter un travail</a></li>
    <li> <a href="conciergerie/about">A propos</a></li>
        {% if request.user.is_authenticated %}
	      <li><a href="{% url "accounts:logout" %}" title="Quitter ce site">Se déconnecter</a></li>
	    {% else %}
	      <li><a href="{% url "accounts:login" %}" title="Login">Connexion</a></li>
          <li><a href="accounts/new-user">S'enregister</a></li>
	    {% endif %}

    </ul>
</nav>

{% block footer_navigation %}
{% endblock %}

{% endblock %}
